@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: url('../img/bg-body.png') no-repeat;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

h2,
h3 {
    margin: 0;
}

input {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    padding: 16px;
    outline: none;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 8px;
    width: 50%;
}

progress {
    width: 75%;
    background-color: transparent;
    height: 12px;
    border: 1px solid black;
    border-radius: 16px;
}

progress::-moz-progress-bar {
    background-image: linear-gradient(to left, rgb(10, 102, 10), yellow, red);
}


input::placeholder {
    color: white;
    text-align: center;
}

.error {
    color: rgb(192, 15, 15);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 24px;
    padding: 5px;
    font-family: "Source Sans 3";
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tamagotchi-content img {
    width: 380px;
    animation: bounce2 2.5s ease infinite;
}

.tamagotchi-content {
    border: 1px solid rgb(255, 255, 255);
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    color: white;
    font-family: "Source Sans 3";
    background: rgba(118, 126, 245, 0.06);
    backdrop-filter: blur(15px);
    padding: 20px;
    box-shadow: 0px 10px 100px rgba(255, 254, 254, 0.466);
}

.tamagotchi-content span {
    margin-bottom: 8px;
    font-size: 40px;
}

.tamagotchi_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tamagotchi_name p {
    color: rgb(0, 255, 191);
    font-size: 25px;
    margin: 0 0 0 8px;
}

.tamagotchi_features {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.tamagotchi_features h3 {
    font-size: 24px;
}

.tamagotchi_sleep {
    border-right: 1px solid white;
}

.tm button {
    background: transparent;
    color: white;
    padding: 8px;
    border: 2px solid white;
    margin-top: 20px;
    border-radius: 16px;
}

.tamagotchi_health {
    border-right: 1px solid white;
}

.tm {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none !important;
}

.sleepBtn,
.healthBtn,
.eatBtn {
    -webkit-transition: 0.2s ease;
}

.sleepBtn:hover {
    background-color: darkblue;
    cursor: pointer;
    transition: 0.2s ease;
}

.healthBtn:hover {
    background-color: rgb(179, 13, 13);
    cursor: pointer;
    transition: 0.2s ease;
}

.eatBtn:hover {
    background-color: rgba(182, 182, 54, 0.822);
    cursor: pointer;
    transition: 0.2s ease;
}

.gameOver {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.678);
    color: white;
    top: 0px;
}

.tamagotchi-content .swingImg {
    transform-origin: top center;
	animation: swing 2s ease infinite;
}

@keyframes bounce2 {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}
@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}